/*
PALETA DE COLORES:

GRAIN
#D7CEC7

BLACKBOARD
#565656

OXBLOOD
#76323F

TAN
#C09F80*/

/*Nunito */



@media print {

  @page {
  margin: 0.5cm !important;
  }

  * {
    font: 12pt Georgia, "Times New Roman", Times, serif !important;
    color: #000 !important;
    background: white !important;
  }

  body {
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
    float: none !important;
    width: auto !important;
    flex: none !important;
  }

  .columnas{
    flex: none !important;
    display:block !important;
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .columnas>article{
  	display: block !important;
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .fotos {
  max-width: 500px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  }

  article {
  page-break-inside: avoid;
  }

  h3 {
    page-break-after: avoid;
  }

  h2 {
  font-size: 14pt !important;
  }

  ul {
  margin: 0 !important;
  list-style: none !important;
  }


  a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }


  #inicio, #barrabus, footer {
    display: none !important;
  }
}
