/*
PALETA DE COLORES:

GRAIN
#D7CEC7

BLACKBOARD
#565656

OXBLOOD
#76323F

TAN
#C09F80*/

/*Nunito */

*{
	box-sizing: border-box;
		font-family: 'Nunito', sans-serif;
    color:#000000;
		font-size: 1em;
}

h2{
font-size: 	1.3em;
}

h3{
	font-size: 1.2em;
}

form{
	font-size: 1.1em;
}


body{
	background-color:#f4d5ba;
	min-width:320px;
    max-width:1600px;
    margin:0 auto;
    padding: .5em;

}

body>header{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ffffff;
    padding: 1em;
    text-align: left;
    background-color:#76323F;
		border-radius: 0.5em;
		border: 0.15em solid #000000;
}

body>header>h2{
	font-size: 1.5em;
	padding: 0 4em;
	color: #E8E5DE;
}


#sesioniniciada{
	width: 18em;
  position: absolute;
  top: 3%;
  right: 5%;
  background: #D7CEC7;
	padding: 0.5em 0.7em;
  border-radius: 0.5em;
  border: 0.15em solid #000000;
	text-align: center;
	font-size: 1em;
}

#inicio{
	width: 21em;
  position: absolute;
  top: 4%;
  right: 5%;
  background: #D7CEC7;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
	border: 0.15em solid #000000;
	text-align: center;
	font-size: 1em;
}

#busquedarapida1{
	width: 100%;
  background: #D7CEC7;
	padding: 0.5em 0.7em;
  border-radius: 0.5em;
  border: 0.15em solid #000000;

}

#busquedarapida1>a{
	font-size: 1.5em;
	font-weight: bold;
}

#barrabus{
  padding: 0.3em 0;
}

body>section{
  padding: .3em .5em .1em .5em;
}

#perfil{
	text-align: center;
}

.perfilusu{
	list-style-type:none;
    background: #D7CEC7;
    padding: 0.2em;
		border-radius: 0.5em;
    border: 0.15em solid #000000;
}

#album{
	background: #D7CEC7;
	padding: 0.2em 2em;
	border-radius: 5px;
  border: 0.15em solid #000000;
	width: 60%;
}

#albumsolicitar{
		width: 100%;
}

body>section>form{
	background: #D7CEC7;
  padding: 2em 10em;
  border-radius: .5em;
  border: 0.15em solid #000000;
	width: 100%;
}

body>section>form>h2#ti {
  color: #000000;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

body>section>form>a {
  color: #000000;
  text-decoration: none;
	font-size : 1.1em;
}

body>section>form>a:hover, body>section>form>a:focus {
  text-decoration: underline double #000000;
	text-align: center;
}

body>section>div>h2 {
  color: #000000;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

body>section>div>a { /*Caja inicio sesion*/
  color: #000000;
  text-decoration: none;
	font-size : 1em;
}

body>section>div>a:hover, body>section>div>a:focus {
  text-decoration: none;
	text-align: center;
	text-decoration: underline double #000000;
}

input[type="text"], [type="color"], [type="number"], input[type="password"], [type="email"], [type="date"] {
  width: 100%;
  padding: .5em .5em;
	margin: .1em 0;
  border: 0.15em solid #000000;
	border-radius: .5em;
	background-color: #ffffff;
  outline: none;
  color: #46485c;
  font-size: 1.2em;
}

#fnombre, #fpassword{
  padding: .2em .2em;
	margin: .3em 0;
}

input[type="color"]{
	height: 3em;
}

input[type="text"]:focus, input[type="color"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="date"]:focus, textarea:focus {
	border: 0.25em solid #76323F;
	background-color: #f3f93f;
}

textarea{
	width: 100%;
  padding: .5em .5em;
	margin: .1em 0;
  border: 0.15em solid #000000;
	border-radius: .5em;
	background-color: #ffffff;
	color: #565656;
  outline: none;
  color: #46485c;
  font-size: 1.2em;
	max-width: 61em;
	max-height: 25em;
}


input[type="submit"] {
  background:#76323F;
	margin: .7em auto 0 auto;
	display: block;
  border: 0;
  width: 18em;
  height: 4em;
  border-radius: .3em;
  color:  #ffffff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
	font-size: 1em;
}

#botoni{
	width: 13em;
	height: 3em;
	margin: 0.4em auto;
	font-size: 1em;
}


input[type="submit"]:hover, input[type="submit"]:focus {
	border: 0.25em solid #76323F;
	background-color: #f3f93f;
	color: #000000;
	width: 40%;
}


input[type=search] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 90%;
		border: 0.25em solid #76323F;
		background-color: #f3f93f;
}

input[type=button]{
    background-color: #76323F;
    border: 2px solid #000000;
    color:  #ffffff;
    padding: 1.6em 3em;
    text-decoration: none;
    margin: .4em .2em;
    cursor: pointer;
}

input[type="radio"] {
	background-color: #f1f1f1;

}

select {
	width: 100%;
  padding: .5em .5em;
	margin: .1em 0;
  border: 0.15em solid #000000;
	border-radius: .5em;
	background-color: #ffffff;
	color: #565656;
  outline: none;
  color: #46485c;
  font-size: 1.2em;
}

select:focus{
	border: 0.25em solid #76323F;
	background-color: #f3f93f;
}

table {
    border-collapse: collapse;
}

table, th, td, caption {
   border: .1em solid #000000;
	 padding: 1em;
	 text-align: center;
}

caption{
	background-color: #565656;
	color: #ffffff;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #D7CEC7;}

.fotos {
	transition: .3s;
}


.fotos:hover {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	border: 0.3em solid #000000;
}

body>ul{
	list-style-type: none;
}

body>section>article>ul{
	list-style-type: none;
}

body>section>ul{
	list-style-type: circle;
}

body>section>article>h3>a{
	text-decoration: none;
	color: #771313;
	transition: color .4s ease-out;

}

body>section>article>h3>a:hover, body>section>article>h3>a:focus{
	color:  #000000;
	 text-decoration: underline double #000000;
}

#perfil>ul>li>a{
	text-decoration: none;
}

#perfil>ul>li>a>span{
	color: #98505E;
	font-size: 1.3em;
}

#perfil>ul>li>a>span:hover, #perfil>ul>li>a>span:focus{
	color:  #000000;
	text-decoration: underline double #000000;

}

#perfil>ul>li>ul>li>a{
	text-decoration: none;
}

#perfil>ul>li>ul>li>a>span{
	color: #98505E;
}

#perfil>ul>li>ul>li>a>span:hover, #perfil>ul>li>ul>li>a>span:focus{
	color:  #000000;
	text-decoration: underline double #000000;
}

body>footer{
	padding-top: 1em;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	text-align: center;
	background-color: #76323F;
	border-radius: .5em;
	border: .1em solid #000000;
}

body>footer a{
	color: #ffffff;
	text-decoration: none;
}

body>footer>a:hover, body>footer>a:focus{
	color:  #f3f93f;
	text-decoration: underline double #f3f93f;
}

body>footer>p, body>footer>p>time {
	color: #E8E5DE;
}

.columnas{
	display: flex;
	flex-wrap: wrap;
  padding: 1% 5%;
justify-content: space-evenly;
}

.columnas>article{
	display: inline-block;
	flex-basis: 30%;
}

#fotoendetalle>figcaption{
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

#fotoendetalle>ul{
	list-style-type: none;
	padding-left: 10%;
}

#fotoendetalle>img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#fotoendetalle>ul>li>a{
	text-decoration: none;
}

#fotoendetalle>ul>li>a>span{
	color: #771313;
}

#fotoendetalle>ul>li>a>span:hover, #fotoendetalle>ul>li>a>span:focus{
	color:  #000000;
	text-decoration: underline double #000000;
}

#fotoendetalle {
  width: 70%;
	margin-left: auto;
	margin-right: auto;
  text-align: justify;
  text-indent: 0;
	border-radius: .5em;
  border: .1em solid #000000;
	padding: 3% 3%;
	background: #D7CEC7;
}

.desplegable{
	display: none;
}

/*QUERIES*/


@media all and (max-width: 750px){


	.desplegable:hover #inicio {
			display: block;
			width: 90%;
	}


		.desplegable:hover #sesioniniciada {
				display: block;
				width: 90%;
		}

	.desplegable:hover span {
			display: none;
	}

	.desplegable {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: .5em;
		text-align: center;
		padding: 6px 3px;
		background: #D7CEC7;
		border-radius: 5px;
		border: 2px solid black;
	}

	body>header{
	    display: flex;
	    flex-direction: column;
	    overflow: hidden;
	    padding: .5em;
	    text-align: center;
	}


	body>header>h2{
		align-self: center;
	}

	body>section{
		padding: 0.5em .5em 0.5em .5em;
	}

	body>section>form{
		padding: .1em 1em;
	}

	#inicio{
		display: none;
		position: relative;
		left: auto;
		width: 85%;
		height: 50%;
		background: #D7CEC7;
		border-radius: 5px;
		border: 2px solid black;
		padding: 40px 40px;
		left: 4%;
	}

	#sesioniniciada{
		display: none;
		position: relative;
		left: auto;
		width: 85%;
		height: 50%;
		background: #D7CEC7;
		border-radius: 5px;
		border: 2px solid black;
		padding: 40px 40px;
		left: 4%;
	}

	#botoni{
		width: 60%;
	}

	#fotoendetalle{
		width: 100%;
	}

	#fotoendetalle>ul{
		padding-left: 3%;
	}

	#album{
		width: 100%;
	}

}

@media all and (max-width: 430px){
	.fotos{
		width: 300px;
	}
